<form>
    <h3>Building Details</h3>
    <div class="form-row" [formGroup]="buildingDetails">
        <div class="form-group col-md-4" *ngFor="let key of keys; let i = index">
            <label for="length">{{ insulationService.buildingDetailLabels[i] }}</label>
            <input  type="number" 
                    class="form-control" 
                    [formControl]="buildingDetails.controls[key]">
        </div>
    </div>
    <h3>Openings</h3>
    <div class="form-row" [formGroup]="Openings">
        <div class="form-group col-md-2" *ngFor="let key of totalOpenings; let i = index">
            <label>{{ insulationService.openingTypes[key].name }}</label>
            <input  type="number" 
                    class="form-control" 
                    [formControl]="Openings.controls[key]">
        </div>
        <div class="form-group col-md-12">
            <label for="">Total Openings</label>
            <p id="Total">{{ openings }} Inches</p>
        </div>
    </div>
    <h3>Insulation Details</h3>
    <div class="form-row" [formGroup]="insulationDetails">
        <div class="form-group col-md-4">
            <label for="ceiling">Ceiling</label>
            <select class="form-control" 
                    [formControl]="insulationDetails.controls.ceiling">
                <option value="" disabled selected></option>
                <option *ngFor="let ceil of ceilingInsulation">{{ ceil }}</option>
            </select>
        </div>
        <div class="form-group col-md-4">
            <label for="walls">Walls</label>
            <select class="form-control" 
                    [formControl]="insulationDetails.controls.walls">
                <option value="" disabled selected></option>
                <option *ngFor="let wall of wallInsulation">{{ wall }}</option>
            </select>
        </div>
        <div class="form-group col-md-4">
            <label for="sheetrock">Firecode Sheetrock?</label>
            <select class="form-control" 
                    [formControl]="insulationDetails.controls.sheetrock">
                <option value="" disabled selected></option>
                <option *ngFor="let sheet of sheetrock">{{ sheet }}</option>
            </select>
        </div>
    </div>
    <div class="output">
        <h3>Insulation Required</h3>
        <h4 id="ceiling">{{ ceilingOutput }}</h4>
        <h4 id="wall">{{ wallOutput }}</h4>
        <h4 id="firecode">{{ firecodeOutput }}</h4>
    </div>
</form>
