<form>
    <h3>Insulation Details</h3>
    <div class="form-row" [formGroup]="formGroup">
        <div class="form-group col-md-4">
            <label for="inputEmail4">Ceiling</label>
            <select name="" id="" class="form-control" [formControl]="formGroup.controls.ceiling">
                <option value="" disabled selected></option>
                <option *ngFor="let ceil of ceilingInsulation" [ceilingType]="ceil">{{ ceil }}</option>
            </select>
        </div>
        <div class="form-group col-md-4">
            <label for="inputPassword4">Walls</label>
            <select name="" id="" class="form-control" [formControl]="formGroup.controls.walls">
                <option value="" disabled selected></option>
                <option value="R13"></option>
            </select>
        </div>
        <div class="form-group col-md-4">
            <label for="inputPassword4">Firecode Sheetrock?</label>
            <select name="" id="" class="form-control" [formControl]="formGroup.controls.sheetrock">
                <option value="" disabled selected></option>
                <option value="Yes">Yes</option>
                <option value="No">No</option>
            </select>
        </div>
    </div>
    <h3>Building Details</h3>
    <div class="form-row" [formGroup]="formGroup2">
        <div class="form-group col-md-4">
            <label for="length">Length(In.)</label>
            <input type="text" class="form-control" [formControl]="formGroup2.controls.length">
        </div>
        <div class="form-group col-md-4">
            <label for="width">Width (In.)</label>
            <input type="text" class="form-control" [formControl]="formGroup2.controls.width">
        </div>
        <div class="form-group col-md-4">
            <label for="height">Height (In.)</label>
            <input type="text" class="form-control" [formControl]="formGroup2.controls.height">
        </div>
    </div>
<!-- <h3>Openings</h3>
    <div class="form-row">
        <div class="form-group col-md-3" *ngFor="let opening of openings">
            <label>{{ opening }}</label>
            <input type="text" class="form-control" id="3070">
        </div>
        <div class="form-group col-md-12">
            <label for="">Total Openings</label>
            <p id="Total"></p>
        </div>
    </div> -->
</form>





<!--[formControl]="formControl"-->
